@{
    ViewData["Title"] = "Xóa Db";
}

<h1>@ViewData["Title"]</h1>
<p class="alert alert-danger">Có chắc chắn xóa?</p>
<form action="" method="post">
    <button class="btn btn-danger">Xóa</button>
</form>
<hr>
<a asp-action="Index">Quay về db</a>